.box-text{
    position: absolute;
    left: 8vh;
    top: 57.7vh;
    display: flex;
    flex-direction: column;
    gap: 15vh;
    color: white;
    transition: gap 1s;
}
.box-title{
    font-size: 20px;
}
.text{
    font-size: 48px;
}
#img-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section-video-ocult{
    bottom: -100%;
    width: 100%;
    z-index: 99;
    transition: 2s;
    position: fixed;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: black;
}
#box-close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    display: flex;
    transition: 2s;
    justify-content: center;
    align-items: center;
}
#arrawClose1{
    transform: rotate(45deg);
    background-color: aliceblue;
    width: 100%;
    height: 2px;
    position: absolute;
   
}
#arrawClose2{
    transform: rotate(135deg);
    background-color: aliceblue;
    width: 100%;
    height: 2px;
}

@media (max-width: 375px){

    #box-close{

        top: 15px;
        right: 15px;
        
    }

}