<footer id="footer-falcon-9" style="background-color: black;">
    <div class="box-services">
      <div class="haste"></div>
      <p style="font-size: 14px;">For information about our launch services, contact sales@spacex.com</p>
      <div class="box-button">
        <button>DOWNLOADS USER'S GUIDE</button>
        <button>CAPABILITIES AND SERVICES</button>
      </div>
    </div>
    <nav class="nav-footer">
      <a href="#">SPACEX © 2022</a>
      <a href="#">TWITTER</a>
      <a href="#">YOUTUBE</a>
      <a href="#">INSTAGRAM</a>
      <a href="#">FLICKR</a>
      <a href="#">LINKEDIN </a>
      <a href="#">PRIVACY POLICY</a>
      <a href="#">SUPPLIERS</a>
    </nav>
  </footer>