<section id="section-5" style="background-image: url('/assets/imagem/falcon9/08.jpg');">
    <div class="box-title">
      <h4>engines</h4>
      <h1>MERLIN</h1>
    </div>
    <div class="text-merlin">
      <h4 style="margin-bottom: 8px;">SEA LEVEL | VACUM</h4>
      <p class="box-text-merlin">
        Merlin is a family of rocket engines developed by SpaceX for use on its Falcon 1, Falcon 9 and Falcon Heavy launch vehicles. Merlin engines use a rocket grade kerosene (RP-1) and liquid oxygen as rocket propellants in a gas-generator power cycle. The Merlin engine was originally designed for recovery and reuse.
      </p>
      <div>
        <p>PROPELLANT</p>
        <p>LOX / RP-1</p>
      </div>
      <hr>
      <div>
        <p>THRUST</p>
        <p>845 kN / 190,000 lbf</p>
      </div>
      <hr>
    </div>
</section>