<app-sectionhomepage 
    [numberSection]="-1"
    [content]="'RECENT LAUNCH'"
    [title]="'CREW-6 MISSION'"
    [name_button]="'WATCH'"
    [backgroundImageUrl]="'/assets/imagem/home/01.jpg'"
    [arrow]="true"
></app-sectionhomepage>
<app-sectionhomepage 
    [numberSection]="0.8"
    [content]="'UPCOMING LAUNCH'"
    [title]="'STARLINK MISSION'"
    [name_button]="'WATCH'"
    [backgroundImageUrl]="'/assets/imagem/home/03.jpg'"
></app-sectionhomepage>
<app-sectionhomepage 
    [numberSection]="1.8"
    [content]="'UPCOMING LAUNCH'"
    [title]="'STARSHIP UPDATE'"
    [name_button]="'LEARN MORE'"
    [backgroundImageUrl]="'/assets/imagem/home/04.jpg'"
></app-sectionhomepage>
<app-sectionhomepage 
    [numberSection]="2.8"
    [content]="'UPCOMING LAUNCH'"
    [title]="'STARSHIP SELECTED'"
    [name_button]="'LEARN MORE'"
    [backgroundImageUrl]="'/assets/imagem/home/05.jpg'"
></app-sectionhomepage>
<app-sectionhomepage 
    [numberSection]="3.8"
    [content]="'RECENT LAUNCH'"
    [title]="'STARLINK MISSION'"
    [name_button]="'REWATCH'"
    [backgroundImageUrl]="'/assets/imagem/home/02.gif'"
></app-sectionhomepage>
<app-footerhomepage></app-footerhomepage>