<app-sectionmain
  [title]="'HUMAN SPACEFLIGHT'"
  [content]="'MAKING LIFE MULTIPLANETARY'"
  [backgroundImageUrl]="'https://www.spacex.com/humanspaceflight/assets/images/HS-hero.webp'"
></app-sectionmain>

<app-slide2></app-slide2>

<!--Section clothes crew-->
<section style="background-image: url('/assets/imagem/humanFlight/mission-1.jpg'); background-color: black; background-size: contain; position: relative;">
  <h1 style="text-align: center; font-size: 8vh;">THE SUIT</h1>
  <h3 id="title-clothe-crew">3-D PRINTED HELMET</h3>
  <p id="text-clothe-crew">
    The 3-D printed helmet with customized padding houses microphones for communication and valves that regulate the suit's pressure systems
  </p>
  <div id="arrowId-1" class="arrowId"></div>
  <div id="arrowId-2" class="arrowId"></div>
  <div id="blue-ball"></div>
  <div id="blue-shadow"></div>
</section>
<section id="section-spaceShip">
  <div id="img-stardhip">
    <img src="/assets/imagem/humanFlight/starship.webp" alt="">
  </div>
  <div id="box-title-text">
    <h1> STARSHIP</h1>
    <p>
      Starship is the fully reusable spacecraft and second stage of the Starship system. The vehicle offers an integrated payload section and is capable of carrying passengers and cargo to Earth orbit, planetary destinations, and between destinations on Earth.
    </p>
    <button>LEARN MORE</button>
  </div>
</section>
<section id="section-spaceShip">
  <div id="box-title-text-video">
    <h1> STARSHIP</h1>
    <p>
      Starship is the fully reusable spacecraft and second stage of the Starship system. The vehicle offers an integrated payload section and is capable of carrying passengers and cargo to Earth orbit, planetary destinations, and between destinations on Earth.
    </p>
    <button>LEARN MORE</button>
  </div>
  <div id="img-stardhip-video">
    <video src="/assets/imagem/humanFlight/Dragon_Render_min.webm" autoplay loop></video>
  </div>
</section>
<section style="position: relative;">
  <div id="img-horizon">
    <img src="/assets/imagem/humanFlight/horizon.webp" alt="">
  </div>
  <h1 id="title-horizon">THE ROAD TO MAKING HUMANITY MULTIPLANETARY</h1>
</section>
<app-slide3></app-slide3>