<footer>
    <nav id="footer-nav">
        <p style="color: #979797;" routerLink="#">SPACEX © 2022</p>
        <nav id="social-media-box">
            <a routerLink="#">TWITTER</a>
            <a routerLink="https://www.youtube.com/@SpaceX">YOUTUBE</a>
            <a routerLink="https://www.instagram.com/spacex/">INSTAGRAM</a>
            <a routerLink="https://www.youtube.com/@SpaceX">FLICKR</a>
            <a routerLink="https://www.linkedin.com/company/spacex/">LINKEDIN</a>
        </nav>
    </nav> 
</footer>